.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.nav-items{
    list-style: none;
    display: flex;
}
.nav-items > li{
    padding: 10px;
}
.nav-img{
    width: 60px;
}
    body {
        margin: 0;
        padding: 0;
        font-size: 18px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        display: flex;
        flex-direction: column;
        min-height: 100vh; /* This ensures the footer stays at the bottom. */
        text-align: center;
    }

    .footer {
        background-color: #333; /* Dark background color of your choice */
        color: #fff; /* Text color for the footer content */
        padding: 20px; /* Adjust the padding to your preference */
        text-align: center; Center align text if needed
    }