.nav {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    /* width: 100%; */
    /* background-color: #your-color; */ /* Set the desired background color */
    z-index: 1000; /* Adjust the z-index as needed */
  }
  .nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .nav-items{
    list-style: none;
    display: flex;
  }
  .nav-items > li {
    padding: 10px;
  }
  .nav-img{
    width: 50px;
    /* background-image: url("../images/react.png"); */
  }
  .footer{
    position: absolute;
    bottom: 0;
    /* background-color: #fff; */
    text-align: center;
    width: 100%;
  }
  footer {
    background-color: #333; /* Adjust the color as needed */
    color: #fff; /* Text color for better contrast */
  }
  body{
    font-family: arial;
    margin: 0;
    padding: 0;
  }
  h1{
    padding-top: 80px;
  }
  div{
    margin: 0;
    padding: 0;
  }